header {
  padding: 1.4rem;
  background-color: #f6f6fa;
  margin-top: -18px;
  height: 1.8rem;
}

.unicef {
  color: #06c;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -8px;
  font-size: 14px;
}

.unicef a:hover {
  text-decoration: underline;
}

.logo-img {
  width: 128px;
  height: 32px;
  margin-right: 12px;
}

.arrow__up__right {
  transform: rotate(45deg);
  margin-bottom: -6px;
}

/* Responsive */
@media (max-width: 735px) {
  header {
    height: 3.7rem;
  }

  .unicef {
    display: flex;
    flex-direction: column;
    margin-left: -5px;
  }

  .logo__div {
    max-width: 2rem;
    margin: -10px 0 0 -5rem;
  }
  .text__div {
    text-align: center;
    max-width: 13rem;
    line-height: 1.2rem;
  }
}
